* {
    margin: 0; /* make the webpage fill out the window */
}
.headline {
    display: grid;
    grid-template-columns: 44% 26% 29%;
    background-image: url(resource/posts.png);
    background-size: cover;
    height: 550px;
    font-family: Georgia, serif;
    font-size: 30px;
    color: white;
    align-items: center;
    font-family: Cursive;
}
.name {
    align-self: start;
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    font-family: Georgia, serif;
}
.category {
    align-self: start;
    display: flex;
    margin-top: 20px;
    gap: 30px;
    justify-content: flex-end; /*go to the left*/
    flex: auto;
}
.home {
    width: 15%;
}
.home a {
    text-align:center;
    font-size: 20px;
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
}
.home :hover {
    color: gray;
}
.about {
    width: 15%;
}
.about a {
    text-align:center;
    font-size: 20px;
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
}
.about :hover {
    color: gray;
}
.projects {
    width: 15%;
}
.projects a {
    text-align:center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.projects :hover {
    color: gray;
}
.posts {
    width: 15%;
}
.posts a {
    text-align:center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.posts :hover {
    color: gray;
}
.cello {
    width: 10%;
    margin-right: 30px;
}
.cello a {
    text-align:center;
    font-size: 20px;
    font-family: Georgia, serif;
    color: white;
    text-decoration: none;
   
}
.cello :hover {
    color: gray;
}
.welcome {
    display:flex;
    justify-content:center;
    align-items:center;
    position: inline-block;
    height:300px;
    background: linear-gradient(100deg, rgb(75, 188, 226),#C9D7DD);
}
.text{
    text-align: center;
    font-size:50px;
    font-weight:bold;
}
.subject{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
}
.menu{
    font-size:30px;
    font-weight:bold;
    font-family: Georgia, serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 10px;
}
.section1{
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    width: 600px;
    height:450px;
    margin:10px;
    background-color: #637A9F;
    justify-content:center;
    align-items:center;
}
.postpic {
    display: flex;
    width:90%;
    height:90%;
    justify-content:center;
    align-items:center;
}
.section1 img{
    width: 90%;
    height:90%;
    justify-content:center;
    align-items:center;
}
.section2{
    display:flex;
    border-radius: 25px;
    flex-direction: column;
    flex:none;
    width:45%;
    height:450px;
    margin:10px;
    background-color: #637A9F;
    justify-content:center;
    align-items:center;
}
.section2 iframe{
    width:80%;
    height:80%;
    justify-content:center;
    align-items:center;
}
.subtitle {
    display: flex;
    text-align:center;
    align-items: center;
    justify-items: center;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}
.subtitle1 {
    display: flex;
    text-align:center;
    align-items: center;
    justify-items: center;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.subinfo {
    display: flex;
    text-align:center;
    align-items: center;
    justify-items: center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}
.subinfo a {
    color: black;
    text-decoration: none;
}
.subinfo :hover {
    color: white;
}
.section2{
    display:flex;
    flex:none;
    width:45%;
    height:400px;
    margin:10px;
    background-color: #637A9F;
    justify-content:center;
    align-items:center;
    font-family: Georgia, serif;
}
.section2 a{
    width:90%;
    height:90%;
    justify-content:center;
    align-items:center;
}
.section2 img{
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
}
/* footer */
.footer {
    display: flex;
    gap: 20px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: #FFFACD;
}
.footer_content {
    font-family: Georgia, serif;
}
.icon a {
    color: black;
}
.icon :hover {
    color: lightblue;
}